# ignore python cache files
__pycache__/
*.pyc

# ignore some outputs
/auc/
/outputs/
/plots/

# ignore common data file types
*.h5
*.npy
*.csv

# and some common plot types
*.pdf

# but include data files in some directories
!/models/*.npy
!/models/*.h5
!/data/*.h5