sudo: false
os:
  # - osx
  - linux
dist: trusty
language: python
python:
  - 3.5
  - 3.6

before_install:
  pip install -r requirements.txt

env:
  - KERAS_BACKEND=theano
  - KERAS_BACKEND=tensorflow

script:
  - python3 calculate_predictions.py local hl_tracks -o hl_tracks
  - python3 aggregate_predictions.py --test hl_tracks
  - python3 make_histograms.py outputs --test hl_tracks
  - python3 calculate_predictions.py local tracks -o tracks
  - python3 aggregate_predictions.py --test tracks
  - python3 make_histograms.py outputs --test tracks
